<div class="row">
    <h1>proyectos realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
           <h1>imagenes de gatitos</h1>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit in, atque quidem non eius numquam rem et vel, culpa laboriosam perspiciatis aspernatur? Et quia incidunt fugit quae earum atque esse.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
           <img src="../../../assets//download.jpg" class="img-fluid img-proyecto">
        </div>
    </div>
</div>